In [2]:
import pandas as pd
import json

In [ ]:
data = pd.read_csv("rwe_point.csv")

In [ ]:
data.info()

In [ ]:
data.head()

In [ ]:
data2 = data.drop(["FID","days_applicable","dt_modified","dt_created","timestamp","processed_time"],axis=1)

In [ ]:
data2.info()

In [ ]:
data2.columns

In [ ]:
data2[data2.lanes_affected != 0].shape

In [ ]:
data3 = data2.drop(['start_pref_rdname',
       'end_pref_rdname', 'lrs_start_locality', 'lrs_end_locality',
       'lrs_rmaclass', 'lrs_srns', 'lrs_lga', 'lrs_ses_region', 'lrs_melway',
       'lrs_vcsd', 'geom', 'works_type', 'speed_limit',],axis =1)

In [ ]:
data3.to_dict(orient='record')[0]

In [ ]:
geojson = []
for i in data3.to_dict(orient='record'):
    if i["lanes_affected"] != 0:
        point ={
            "type": 'Feature',
            "geometry": {
            "type": 'Point',
            "coordinates": [float(i['rwe_point'].split(" ")[1][1:]), float(i['rwe_point'].split(" ")[2][:-1])]},
            "properties":{}}
        point["properties"] = {
            "description": "<p>Closure Type: " + i['rwe_closure_type'] + "</p><p>Start Date: " + i["rwe_start_dt"] + "</p><p>End Date: " + i["rwe_end_dt"]
                            + "</p><p>Information: " + i["rwe_publish_text"] + "</p>",
            "icon": "star"
        }
        geojson.append(point)

In [ ]:
len(geojson)

In [ ]:
col =[]
for i in geojson:
    if i['geometry']['coordinates'][0] >144.948070 and i['geometry']['coordinates'][0] < 144.980588:
        if i['geometry']['coordinates'][1] > -37.82475 and i['geometry']['coordinates'][1]<-37.805908:
            col.append(i)

In [ ]:
col

In [ ]:
import json
from geojson import Point, Feature, FeatureCollection, dump

feature_collection = FeatureCollection(geojson)

with open('myfile.geojson', 'w') as f:
   dump(feature_collection, f)

In [ ]:
surface = pd.read_csv("com_road_surfaces.csv")

In [ ]:
footway = surface[surface.type == "Footway"]

In [ ]:
surface

In [ ]:
list = []
for i in footway.the_geom[13][16:-3].split(','):
    log = float(i.strip().split(" ")[0])
    lat = float(i.strip().split(" ")[1])
    list.append([log,lat])

In [ ]:
list

In [ ]:
data4 = data2.drop(['rwe_id','start_pref_rdname',
       'end_pref_rdname', 'lrs_start_locality', 'lrs_end_locality',
       'lrs_rmaclass', 'lrs_srns', 'lrs_lga', 'lrs_ses_region', 'lrs_melway',
       'lrs_vcsd', 'geom', 'works_type','rwe_point'],axis =1)

In [ ]:
data4

In [ ]:
data4.to_csv("road_construction.csv", index = False)

In [ ]:
import csv

In [ ]:
reader = csv.reader('road_construction.csv', dialect='excel')

In [ ]:
with open('road_construction.csv', 'rt') as f:
    reader = csv.reader(f, dialect='excel')
    for row in reader:
        print(row)

In [ ]:
rwe_type = row[0]
                    rwe_closure_type = row[1]
                    rwe_status = row[2]
                    rwe_start_dt = row[3]
                    rwe_end_dt = row
                    rwe_publish_text = row
                    subject_pref_rdname =row
                    traffic_delay =row
                    speed_limit = row
                    lanes_affected = row

In [ ]:
toilet = pd.read_csv('Wheelchair-accessible_public_toilets .csv')

In [ ]:
toilet.to_dict(orient='record')[0]

In [ ]:
geojson_toilet = []
for i in toilet.to_dict(orient='record'):
    point ={
            "type": 'Feature',
            "geometry": {
            "type": 'Point',
            "coordinates": [float(i['lon']),float(i['lat']),]},
            "properties":{}}
    point["properties"] = {
            "description": "<p><strong>name: " + i['name'] + "</p><p>wheelchair: " + i["wheelchair"] + "</p><p>Operator: " + i["operator"]
                            + "</p><p>male: " + i["male"] + "</p><p>female: " + i["female"] + "</p>"
        }
    geojson_toilet.append(point)

In [ ]:
geojson_toilet

In [ ]:
import json
from geojson import Point, Feature, FeatureCollection, dump

feature_collection_2 = FeatureCollection(geojson_toilet)

with open('toilet.geojson', 'w') as f:
   dump(feature_collection_2, f)

In [8]:
volume = pd.read_csv("volume.csv")

In [13]:
volume = volume.drop(["ID","Sensor_ID","Unnamed: 0","Date_Time"],1)

ValueError: labels ['ID' 'Sensor_ID' 'Unnamed: 0' 'Date_Time'] not contained in axis

In [14]:
volume.head()

   Year Month  Mdate     Day  Time Sensor_Name  Hourly_Counts
0  2018  June     24  Sunday     3    New Quay             22
1  2018  June      4  Monday    11    New Quay            158
2  2018  June     17  Sunday     1    New Quay             10
3  2018  June     17  Sunday    14    New Quay             71
4  2018  June      1  Friday    11    New Quay            174

In [29]:
volume1 = pd.DataFrame(volume.groupby('Sensor_Name')['Hourly_Counts'].mean())

In [32]:
volume1.reset_index(inplace=True)

In [33]:
volume1.head()

   index                  Sensor_Name  Hourly_Counts
0      0                 Alfred Place     235.655556
1      1               Birrarung Marr     337.652778
2      2  Bourke St-Russell St (West)     658.716667
3      3   Bourke Street Mall (North)    1364.259722
4      4   Bourke Street Mall (South)     938.318056

In [18]:
data = pd.read_excel('First two parts.xlsx')

In [27]:
data['volume'] =0

In [36]:
data.head()

                           Street   Longitude   Latitude  volume
0                     City Square  144.966698 -37.815852       0
1  Chinatown-Lt Bourke St (South)  144.968251 -37.811658       0
2                 The Arts Centre  144.969059 -37.821503       0
3    Flinders St-Spring St (West)  144.974818 -37.815048       0
4           Collins Place (South)  144.973141 -37.813607       0

In [37]:
for i in range(volume1.shape[0]):
    for n in range(data.shape[0]):
        if volume1.loc[i,'Sensor_Name'] == data.loc[n,'Street']:
            data.loc[n,'volume'] = volume1.loc[i,"Hourly_Counts"]

In [38]:
data

                                    Street   Longitude   Latitude       volume
0                              City Square  144.966698 -37.815852     0.000000
1           Chinatown-Lt Bourke St (South)  144.968251 -37.811658   390.584722
2                          The Arts Centre  144.969059 -37.821503   999.794444
3             Flinders St-Spring St (West)  144.974818 -37.815048   171.988889
4                    Collins Place (South)  144.973141 -37.813607   432.605556
5                        Melbourne Central  144.964031 -37.810156  1176.209722
6        Flinders Street Station Underpass  144.965511 -37.819102  1275.204167
7                           Birrarung Marr  144.971387 -37.818362   337.652778
8                          Lygon St (East)  144.963654 -37.802688   134.302778
9                       Collins St (North)  144.965517 -37.815804   632.898611
10   Melbourne Central-Elizabeth St (East)  144.962119 -37.811750   980.534722
11                 QVM-Franklin St (North)  144.959346 -37.808418   111.865278
12                             Webb Bridge  144.947179 -37.823697   185.009722
13                          Princes Bridge  144.968336 -37.819141  1217.677778
14             Bourke St-Russell St (West)  144.968146 -37.812648   658.716667
15                       QV Market-Peel St  144.956111 -37.809284   131.002778
16              Bourke Street Mall (South)  144.964530 -37.813829   938.318056
17           St Kilda Rd-Alexandra Gardens  144.972153 -37.820264   302.673611
18              Bourke Street Mall (North)  144.964639 -37.813874  1364.259722
19                         Waterfront City  144.939174 -37.815250   116.248611
20           Spencer St-Collins St (North)  144.954199 -37.818777  1359.813889
21            Lonsdale St-Spring St (West)  144.972235 -37.809264   293.047222
22            Monash Rd-Swanston St (West)  144.964194 -37.798342   160.850000
23                           Pelham St (S)  144.963782 -37.802252   103.565278
24              Faraday St-Lygon St (West)  144.967213 -37.798475   212.659722
25                               Southbank  144.965118 -37.819909  1503.180556
26                  Southern Cross Station  144.952528 -37.818261   761.659722
27  Melbourne Convention Exhibition Centre  144.957249 -37.825960   575.306944
28         Flinders St-Elizabeth St (East)  144.964866 -37.818012  1475.880556
29                     Lonsdale St (South)  144.962198 -37.812020   546.048611
30                            Alfred Place  144.970204 -37.814369   235.655556
31                       Flagstaff Station  144.956343 -37.811616     0.000000
32                          Victoria Point  144.946362 -37.818074   186.931944
33           QV Market-Elizabeth St (West)  144.955749 -37.807207   590.136111
34                         Queen St (West)  144.959675 -37.812655   306.694444
35           Grattan St-Swanston St (West)  144.963920 -37.800391   187.529167
36          Flinders La-Swanston St (West)  144.966988 -37.816468  1736.158333
37                   QVM-Therry St (South)  144.955809 -37.807495   220.444444
38                  Lincoln-Swanston(West)  144.963600 -37.802399     0.000000
39                                New Quay  144.946014 -37.815018   218.184722
40                        Town Hall (West)  144.966237 -37.814815  1346.104167
41           Spencer St-Collins St (South)  144.954999 -37.818882   362.838889
42           Chinatown-Swanston St (North)  144.965545 -37.812445   574.781944
43                         Lygon St (West)  144.966628 -37.803065   212.659722
44                    Flinders St-Spark La  144.973991 -37.815413   132.755556
45                   Collins Place (North)  144.973062 -37.813492   294.306944
46                           State Library  144.964438 -37.810503   780.905556
47                        Sandridge Bridge  144.963044 -37.819738     0.000000
48          Flinders St-Swanston St (West)  144.967340 -37.817320     0.000000
49            Tin Alley-Swanston St (West)  144.964465 -37.796868    85.570833
50    Little Collins St-Swanston St (East)  144.965964 -37.814247   876.350000
51                     QVM-Queen St (East)  144.958603 -37.806216   239.955556
52        Elizabeth St-Lonsdale St (South)  144.961930 -37.812467   399.070833

In [41]:
geojson_volume = []
for i in data.to_dict(orient='record'):
    point ={
            "type": 'Feature',
            "geometry": {
            "type": 'Point',
            "coordinates": [float(i['Longitude']),float(i['Latitude']),]},
            "properties":{}}
    point["properties"] = {
            "description": "<p><strong>Volume:"+ str(i['volume']) +"</p>"
        }
    geojson_volume.append(point)

In [42]:
import json
from geojson import Point, Feature, FeatureCollection, dump

feature_collection_2 = FeatureCollection(geojson_volume)

with open('volume.geojson', 'w') as f:
   dump(feature_collection_2, f)