In [2]:
import pandas as pd
import json

In [ ]:
data = pd.read_csv("rwe_point.csv")

In [ ]:
data.info()

In [ ]:
data.head()

In [ ]:
data2 = data.drop(["FID","days_applicable","dt_modified","dt_created","timestamp","processed_time"],axis=1)

In [ ]:
data2.info()

In [ ]:
data2.columns

In [ ]:
data2[data2.lanes_affected != 0].shape

In [ ]:
data3 = data2.drop(['start_pref_rdname',
       'end_pref_rdname', 'lrs_start_locality', 'lrs_end_locality',
       'lrs_rmaclass', 'lrs_srns', 'lrs_lga', 'lrs_ses_region', 'lrs_melway',
       'lrs_vcsd', 'geom', 'works_type', 'speed_limit',],axis =1)

In [ ]:
data3.to_dict(orient='record')[0]

In [ ]:
geojson = []
for i in data3.to_dict(orient='record'):
    if i["lanes_affected"] != 0:
        point ={
            "type": 'Feature',
            "geometry": {
            "type": 'Point',
            "coordinates": [float(i['rwe_point'].split(" ")[1][1:]), float(i['rwe_point'].split(" ")[2][:-1])]},
            "properties":{}}
        point["properties"] = {
            "description": "<p>Closure Type: " + i['rwe_closure_type'] + "</p><p>Start Date: " + i["rwe_start_dt"] + "</p><p>End Date: " + i["rwe_end_dt"]
                            + "</p><p>Information: " + i["rwe_publish_text"] + "</p>",
            "icon": "star"
        }
        geojson.append(point)

In [ ]:
len(geojson)

In [ ]:
col =[]
for i in geojson:
    if i['geometry']['coordinates'][0] >144.948070 and i['geometry']['coordinates'][0] < 144.980588:
        if i['geometry']['coordinates'][1] > -37.82475 and i['geometry']['coordinates'][1]<-37.805908:
            col.append(i)

In [ ]:
col

In [ ]:
import json
from geojson import Point, Feature, FeatureCollection, dump

feature_collection = FeatureCollection(geojson)

with open('myfile.geojson', 'w') as f:
   dump(feature_collection, f)

In [ ]:
surface = pd.read_csv("com_road_surfaces.csv")

In [ ]:
footway = surface[surface.type == "Footway"]

In [ ]:
surface

In [ ]:
list = []
for i in footway.the_geom[13][16:-3].split(','):
    log = float(i.strip().split(" ")[0])
    lat = float(i.strip().split(" ")[1])
    list.append([log,lat])

In [ ]:
list

In [ ]:
data4 = data2.drop(['rwe_id','start_pref_rdname',
       'end_pref_rdname', 'lrs_start_locality', 'lrs_end_locality',
       'lrs_rmaclass', 'lrs_srns', 'lrs_lga', 'lrs_ses_region', 'lrs_melway',
       'lrs_vcsd', 'geom', 'works_type','rwe_point'],axis =1)

In [ ]:
data4

In [ ]:
data4.to_csv("road_construction.csv", index = False)

In [ ]:
import csv

In [ ]:
reader = csv.reader('road_construction.csv', dialect='excel')

In [ ]:
with open('road_construction.csv', 'rt') as f:
    reader = csv.reader(f, dialect='excel')
    for row in reader:
        print(row)

In [ ]:
rwe_type = row[0]
                    rwe_closure_type = row[1]
                    rwe_status = row[2]
                    rwe_start_dt = row[3]
                    rwe_end_dt = row
                    rwe_publish_text = row
                    subject_pref_rdname =row
                    traffic_delay =row
                    speed_limit = row
                    lanes_affected = row

In [ ]:
toilet = pd.read_csv('Wheelchair-accessible_public_toilets .csv')

In [ ]:
toilet.to_dict(orient='record')[0]

In [ ]:
geojson_toilet = []
for i in toilet.to_dict(orient='record'):
    point ={
            "type": 'Feature',
            "geometry": {
            "type": 'Point',
            "coordinates": [float(i['lon']),float(i['lat']),]},
            "properties":{}}
    point["properties"] = {
            "description": "<p><strong>name: " + i['name'] + "</p><p>wheelchair: " + i["wheelchair"] + "</p><p>Operator: " + i["operator"]
                            + "</p><p>male: " + i["male"] + "</p><p>female: " + i["female"] + "</p>"
        }
    geojson_toilet.append(point)

In [ ]:
geojson_toilet

In [ ]:
import json
from geojson import Point, Feature, FeatureCollection, dump

feature_collection_2 = FeatureCollection(geojson_toilet)

with open('toilet.geojson', 'w') as f:
   dump(feature_collection_2, f)

In [16]:
volume = pd.read_csv("volume.csv")

In [17]:
volume = volume.drop(["ID","Sensor_ID","Unnamed: 0","Date_Time"],1)

In [18]:
volume

,Year,Month,Mdate,Day,Time,Sensor_Name,Hourly_Counts
0,2018,June,24,Sunday,3,New Quay,22
1,2018,June,4,Monday,11,New Quay,158
2,2018,June,17,Sunday,1,New Quay,10
3,2018,June,17,Sunday,14,New Quay,71
4,2018,June,1,Friday,11,New Quay,174
5,2018,June,11,Monday,23,New Quay,30
6,2018,June,1,Friday,0,Town Hall (West),222
7,2018,June,1,Friday,0,Collins Place (South),28
8,2018,June,1,Friday,0,Collins Place (North),24
9,2018,June,1,Friday,0,Collins St (North),50
10,2018,June,1,Friday,0,Bourke Street Mall (South),64
11,2018,June,1,Friday,0,Bourke Street Mall (North),88
12,2018,June,1,Friday,0,Melbourne Central,278
13,2018,June,1,Friday,0,State Library,117
14,2018,June,1,Friday,0,Southern Cross Station,17
15,2018,June,1,Friday,0,Victoria Point,7
16,2018,June,1,Friday,0,New Quay,29
17,2018,June,1,Friday,0,Waterfront City,9
18,2018,June,1,Friday,0,Webb Bridge,18
19,2018,June,1,Friday,0,Birrarung Marr,12
20,2018,June,1,Friday,0,Princes Bridge,147
21,2018,June,1,Friday,0,Flinders Street Station Underpass,237
22,2018,June,1,Friday,0,QV Market-Elizabeth St (West),142
23,2018,June,1,Friday,0,Spencer St-Collins St (North),168
24,2018,June,1,Friday,0,Spencer St-Collins St (South),27
25,2018,June,1,Friday,0,Melbourne Convention Exhibition Centre,30
26,2018,June,1,Friday,0,Bourke St-Russell St (West),288
27,2018,June,1,Friday,0,Chinatown-Lt Bourke St (South),91
28,2018,June,1,Friday,0,Chinatown-Swanston St (North),128
29,2018,June,1,Friday,0,Flinders St-Elizabeth St (East),313
...,...,...,...,...,...,...,...
34530,2018,June,30,Saturday,23,Spencer St-Collins St (South),136
34531,2018,June,30,Saturday,23,Melbourne Convention Exhibition Centre,372
34532,2018,June,30,Saturday,23,Bourke St-Russell St (West),892
34533,2018,June,30,Saturday,23,Chinatown-Lt Bourke St (South),607
34534,2018,June,30,Saturday,23,Chinatown-Swanston St (North),595
34535,2018,June,30,Saturday,23,Flinders St-Elizabeth St (East),1021
34536,2018,June,30,Saturday,23,QV Market-Peel St,63
34537,2018,June,30,Saturday,23,The Arts Centre,359
34538,2018,June,30,Saturday,23,Lygon St (West),373
34539,2018,June,30,Saturday,23,Lonsdale St (South),830
34540,2018,June,30,Saturday,23,Flinders St-Spring St (West),59
34541,2018,June,30,Saturday,23,Flinders St-Spark La,111
34542,2018,June,30,Saturday,23,Alfred Place,56
34543,2018,June,30,Saturday,23,Lygon St (East),77
34544,2018,June,30,Saturday,23,Lonsdale St-Spring St (West),143
34545,2018,June,30,Saturday,23,Queen St (West),372
34546,2018,June,30,Saturday,23,St Kilda Rd-Alexandra Gardens,126
34547,2018,June,30,Saturday,23,Grattan St-Swanston St (West),20
34548,2018,June,30,Saturday,23,Monash Rd-Swanston St (West),19
34549,2018,June,30,Saturday,23,Tin Alley-Swanston St (West),15
34550,2018,June,30,Saturday,23,Southbank,1253
34551,2018,June,30,Saturday,23,Little Collins St-Swanston St (East),627
34552,2018,June,30,Saturday,23,Flinders La-Swanston St (West),1130
34553,2018,June,30,Saturday,23,Pelham St (S),14
34554,2018,June,30,Saturday,23,Melbourne Central-Elizabeth St (East),483
34555,2018,June,30,Saturday,23,QVM-Queen St (East),98
34556,2018,June,30,Saturday,23,QVM-Therry St (South),82
34557,2018,June,30,Saturday,23,Faraday St-Lygon St (West),373
34558,2018,June,30,Saturday,23,QVM-Franklin St (North),37
34559,2018,June,30,Saturday,23,Elizabeth St-Lonsdale St (South),465

In [ ]:
for name in volume